<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Site.Title}} | {{.Title}}</title>
    <!--:AOS Animation:-->
    <link rel="stylesheet" href="/assets/vendor/node_modules/css/aos.css" />
    <!--:Google fonts:-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;1,400&family=Hanken+Grotesk:wght@100..900&family=Libre+Baskerville:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!--:Material symbols sharp icons:-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--:Main style:-->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
  </head>

  <body>
    {{ partial "navigation.html" . }}

    <section class="position-relative bg-blur overflow-hidden">
      <svg
        class="position-absolute start-0 bottom-0 w-100 fill-body-bg"
        height="96"
        preserveAspectRatio="none"
        viewBox="0 0 1200 145"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 0L50 16.9167C100 33.8333 200 67.6667 300 77.3333C400 87 500 72.5 600 62.8333C700 53.1667 800 48.3333 900 55.5833C1000 62.8333 1100 82.1667 1150 91.8333L1200 101.5V145H1150C1100 145 1000 145 900 145C800 145 700 145 600 145C500 145 400 145 300 145C200 145 100 145 50 145H0V0Z"
          fill="currentColor"
        ></path>
      </svg>
      <div class="container pt-11 pt-lg-15 pb-9">
        <div class="row pb-8 pb-lg-11">
          <div class="col-lg-10 col-xl-8 mx-auto text-center">
            <h1 class="display-4 mb-3">Features</h1>
            <p class="lead mb-4">Learn about core features of Saasley.</p>
          </div>
        </div>
      </div>
    </section>

    <!--::Section with image + Feature Icons::-->
    {{partial "feature1.html"}}
    <!--::/End Section with image + Feature Icons/::-->
    <!--::Section with image::-->
    {{partial "feature2.html"}}
    <!--::/End Section with image/::-->

    <section class="position-relative">
      <div class="container py-9 py-lg-11 position-relative">
        <h2 class="display-6 text-center mb-6 mb-lg-9">More features</h2>
        <div class="row justify-content-around">
          <div class="col-sm-6 col-md-4 col-xl-3 mb-6" data-aos="fade-up">
            <div>
              <div class="d-flex flex-wrap mb-3">
                <span class="border-primary text-primary"
                  ><span class="material-symbols-rounded align-middle fs-3">package</span></span
                >
                <div class="flex-grow-1 ps-3">
                  <h5 class="mb-0">Timely Delivery</h5>
                </div>
              </div>
              <p class="mb-0">
                We ensure prompt delivery of your PDFs, meeting deadlines with precision and
                reliability.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-6" data-aos="fade-up">
            <div>
              <div class="d-flex flex-wrap mb-3">
                <span class="border-success text-success"
                  ><span class="material-symbols-rounded align-middle fs-3">report_off</span></span
                >
                <div class="flex-grow-1 ps-3">
                  <h5 class="mb-0">Error-Free Output</h5>
                </div>
              </div>
              <p class="mb-0">
                Our rigorous quality control measures guarantee error-free PDFs, ensuring a seamless
                printing process.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-6" data-aos="fade-up">
            <div>
              <div class="d-flex flex-wrap mb-3">
                <span class="border-warning text-warning"
                  ><span class="material-symbols-rounded align-middle fs-3"
                    >currency_rupee</span
                  ></span
                >
                <div class="flex-grow-1 ps-3">
                  <h5 class="mb-0">Cost-Effective Solutions</h5>
                </div>
              </div>
              <p class="mb-0">
                We offer competitive pricing without compromising on quality, providing
                cost-effective solutions for your newspaper design needs.
              </p>
            </div>
          </div>
          <div class="col-12 d-none d-md-block"></div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-6 mb-md-0" data-aos="fade-up">
            <div>
              <div class="d-flex flex-wrap mb-3">
                <span class="border-danger text-danger"
                  ><span class="material-symbols-rounded align-middle fs-3"
                    >picture_as_pdf</span
                  ></span
                >
                <div class="flex-grow-1 ps-3">
                  <h5 class="mb-0">Superior PDF Quality</h5>
                </div>
              </div>
              <p class="mb-0">
                Our agency takes pride in delivering PDFs with exceptional clarity, resolution, and
                printability, enhancing the overall visual appeal of your newspaper.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 mb-6 mb-sm-0" data-aos="fade-up">
            <div>
              <div class="d-flex flex-wrap mb-3">
                <span class="border-secondary text-secondary"
                  ><span class="material-symbols-rounded align-middle fs-3"
                    >print_connect</span
                  ></span
                >
                <div class="flex-grow-1 ps-3">
                  <h5 class="mb-0">Print-Ready Files</h5>
                </div>
              </div>
              <p class="mb-0">
                We provide print-ready PDF files that meet industry standards, saving valuable time
                for printers and ensuring smooth production.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3" data-aos="fade-up">
            <div>
              <div class="d-flex flex-wrap mb-3">
                <span class="border-info text-info"
                  ><span class="material-symbols-rounded align-middle fs-3"
                    >conversion_path</span
                  ></span
                >
                <div class="flex-grow-1 ps-3">
                  <h5 class="mb-0">Versioning Capability</h5>
                </div>
              </div>
              <p class="mb-0">
                With our advanced technology, we offer versioning capabilities, enabling easy
                updates and revisions to your PDFs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="position-relative bg-style-1">
      <div class="container py-9 py-lg-11">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7 col-xl-6">
            <h2 class="display-5 mb-4" data-aos="fade-up">Have other questions?</h2>
            <p class="lead mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
              Feel free to reach our support team.
            </p>
          </div>
          <div class="col-md-5 col-xl-4 text-md-end" data-aos="fade-up" data-aos-delay="150">
            <a class="btn hover-lift btn-lg btn-primary" href="/contact-us"
              >Contact support<span class="material-symbols-rounded ms-2 fs-5 align-middle"
                >arrow_forward</span
              ></a
            >
          </div>
        </div>
      </div>
    </section>

    <!--:Footer:-->
    {{partial "footer.html" }}

    <!--:Theme script:-->
    <!--:Back to Top Button:-->
    <a href="features.html#" class="toTop text-white">
      <span class="material-symbols-rounded align-middle"> expand_less </span>
    </a>

    <script src="/assets/js/theme.bundle.js"></script>
  </body>
</html>
