<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saasley | Pricing</title>

    <!--:AOS Animation:-->
    <link rel="stylesheet" href="/assets/vendor/node_modules/css/aos.css" />
    <!--:Google fonts:-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;1,400&family=Hanken+Grotesk:wght@100..900&family=Libre+Baskerville:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!--:Material symbols sharp icons:-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--:Main style:-->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
  </head>

  <body>
    {{ partial "navigation.html" . }}
    {{.Content}}

    <section class="position-relative bg-blur overflow-hidden">
      <svg
        class="position-absolute start-0 bottom-0 w-100 fill-body-bg"
        height="96"
        preserveAspectRatio="none"
        viewBox="0 0 1200 145"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 0L50 16.9167C100 33.8333 200 67.6667 300 77.3333C400 87 500 72.5 600 62.8333C700 53.1667 800 48.3333 900 55.5833C1000 62.8333 1100 82.1667 1150 91.8333L1200 101.5V145H1150C1100 145 1000 145 900 145C800 145 700 145 600 145C500 145 400 145 300 145C200 145 100 145 50 145H0V0Z"
          fill="currentColor"
        ></path>
      </svg>
      <div class="container pt-11 pt-lg-15 pb-9">
        <div class="row pb-8 pb-lg-11">
          <div class="col-lg-10 col-xl-8 mx-auto text-center">
            <h1 class="display-4 mb-3">Everything you need for best in class service</h1>
            <p class="lead mb-4"></p>
          </div>
        </div>
      </div>
    </section>
    <section class="position-relative border-bottom">
      <div class="container pb-9 pb-lg-11 position-relative mt-n12">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 col-sm-10 mx-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="card mb-4 mb-lg-0 shadow-lg rounded-4 border-0 overflow-hidden">
              <div class="px-4 py-4">
                <h5 class="mb-2">Basic</h5>
                <p class="mb-0 text-muted">For individuals or startup teams..</p>
              </div>
              <div class="card-body pt-0 pb-4 px-4">
                <h1 class="display-5"><span class="fw-light small">US$</span> 0</h1>
                <small class="text-muted font-monospace mb-4 d-block">Free forever</small
                ><button type="button" class="w-100 btn btn-lg btn-gradient-secondary hover-lift">
                  Get Basic Plan
                </button>
                <ul class="list-unstyled mb-0 pt-4">
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited tasks
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >5 Projects
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited messages
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Collaborate with 5 members
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >10/GB File storage
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Calendar view
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Assignee &amp; Due dates
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-10 mx-auto" data-aos="fade-up">
            <div class="card mb-4 mb-lg-0 shadow-lg rounded-4 border-0 overflow-hidden">
              <span class="badge bg-warning rounded-bottom-0 py-3 fs-6">Best value</span>
              <div class="px-4 py-4">
                <h5 class="mb-2">Premium</h5>
                <p class="text-muted mb-0">
                  For teams that need to create project plans with confidence.
                </p>
              </div>
              <div class="card-body pt-0 pb-4 px-4">
                <h1 class="display-5"><span class="fw-light small">US$</span> 19</h1>
                <small class="text-muted font-monospace mb-4 d-block">Per Month</small
                ><button type="button" class="w-100 btn btn-lg btn-gradient-primary hover-lift">
                  Get Premium Plan
                </button>
                <ul class="list-unstyled mb-0 pt-4">
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Timeline
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited dashboards
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited tasks
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited projects
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited messages
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited collaborate
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited file storage
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Calendar view
                  </li>
                  <li class="d-flex align-items-center">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Assignee &amp; Due dates
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-10 mx-auto" data-aos="fade-up" data-aos-delay="150">
            <div class="card shadow-lg rounded-4 border-0 overflow-hidden">
              <div class="px-4 py-4">
                <h5 class="mb-2">Business</h5>
                <p class="text-muted mb-0">
                  For teams and companies that need to manage work across initiatives.
                </p>
              </div>
              <div class="card-body pt-0 pb-4 px-4">
                <h1 class="display-5"><span class="fw-light small">US$</span> 49</h1>
                <small class="text-muted font-monospace mb-4 d-block">Per Month</small
                ><button type="button" class="w-100 btn btn-lg btn-gradient-secondary hover-lift">
                  Get Business Plan
                </button>
                <ul class="list-unstyled mb-0 pt-4">
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Admin Console
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Portfolios
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Goals
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Workloads
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Custom builders
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Field lock
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Unlimited Integrations
                  </li>
                  <li class="d-flex align-items-center">
                    <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                      >check_circle</span
                    >Full access
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="position-relative">
      <div class="container py-9 py-lg-11 position-relative">
        <div class="row mb-6 mb-lg-9">
          <div class="col-lg-8 mx-auto text-center col-md-10">
            <h2 class="display-5 fw-bolder" data-aos="fade-up">Frequently asked questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0">Lorem ipsum dolor sit amet?</span>
            </div>
            <p class="mb-0 pe-lg-4">
              Tenetur ullam rerum ad iusto possimus sequi mollitia dolore sunt quam praesentium.
              Tenetur ullam rerum ad iusto possimus sequi mollitia dolore sunt quam
              praesentium.Tenetur ullam rerum ad iusto possimus sequi mollitia dolore sunt quam
              praesentium.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0">Dignissimos sequi architecto?</span>
            </div>
            <p class="mb-0 pe-lg-4">
              Aperiam ab atque incidunt dolores ullam est, earum ipsa recusandae velit cumque.
              Aperiam ab atque incidunt dolores ullam est, earum ipsa recusandae velit cumque.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0">Voluptas praesentium facere?</span>
            </div>
            <p class="mb-0 pe-lg-4">
              Blanditiis aliquid adipisci quisquam reiciendis voluptates itaque.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0">Lorem ipsum dolor sit amet?</span>
            </div>
            <p class="mb-0 pe-lg-4">
              Tenetur ullam rerum ad iusto possimus sequi mollitia dolore sunt quam praesentium.
              Tenetur ullam rerum ad iusto possimus sequi mollitia dolore sunt quam
              praesentium.Tenetur ullam rerum ad iusto possimus sequi mollitia dolore sunt quam
              praesentium.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0">Dignissimos sequi architecto?</span>
            </div>
            <p class="mb-0 pe-lg-4">
              Aperiam ab atque incidunt dolores ullam est, earum ipsa recusandae velit cumque.
              Aperiam ab atque incidunt dolores ullam est, earum ipsa recusandae velit cumque.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0">Voluptas praesentium facere?</span>
            </div>
            <p class="mb-0 pe-lg-4">
              Blanditiis aliquid adipisci quisquam reiciendis voluptates itaque.
            </p>
          </div>
        </div>
        <div class="text-center pt-5" data-aos="fade-up" data-aos-delay="100">
          <p class="mb-0">
            Didn't get your answer? Feel free to
            <a class="fw-semibold" href="pricing.html#!">Contact Support</a>
          </p>
        </div>
      </div>
    </section>
    <section class="position-relative bg-style-1">
      <div class="container py-9 py-lg-11">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7 col-xl-6">
            <h2 class="display-5 mb-4" data-aos="fade-up">Have other questions?</h2>
            <p class="lead mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
              Feel free to reach our support team.
            </p>
          </div>
          <div class="col-md-5 col-xl-4 text-md-end" data-aos="fade-up" data-aos-delay="150">
            <a class="btn hover-lift btn-lg btn-primary" href="pricing.html#!"
              >Contact support<span class="material-symbols-rounded ms-2 fs-5 align-middle"
                >arrow_forward</span
              ></a
            >
          </div>
        </div>
      </div>
    </section>

    <!--:Footer:-->
    <footer class="footer bg-dark text-white position-relative overflow-hidden">
      <div class="container pt-9 pt-lg-11 pb-4 position-relative z-index-1">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-5">
            <div class="mb-4">
              <a class="text-reset d-table width-120" href="../../index.html">
                <img src="/assets/img/logo-white.svg" class="img-fluid" alt="" />
              </a>
            </div>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur
              turpis, vitae dictum dolor tristique in.
            </p>
          </div>
          <div class="col-md-3 mx-auto col-lg-2 mb-5">
            <ul class="list-unstyled">
              <li><a href="pricing.html#">About</a></li>
              <li><a href="pricing.html#">Career</a></li>
              <li><a href="pricing.html#">Terms</a></li>
              <li><a href="pricing.html#">Privacy</a></li>
            </ul>
          </div>
          <div class="col-md-3 mx-auto col-lg-2 mb-5">
            <ul class="list-unstyled">
              <li><a href="pricing.html#">Blog</a></li>
              <li><a href="pricing.html#">Press Kit</a></li>
              <li><a href="pricing.html#">Support</a></li>
              <li><a href="pricing.html#">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="d-flex flex-wrap social-links mb-5 align-items-center">
              <a href="pricing.html#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                  ></path></svg></a
              ><a href="pricing.html#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                  ></path></svg></a
              ><a href="pricing.html#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="currentColor"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                  ></path></svg></a
              ><a href="pricing.html#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="currentColor"
                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                  ></path></svg></a
              ><a href="pricing.html#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="24px"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M391.17,103.47H352.54v109.7h38.63ZM285,103H246.37V212.75H285ZM120.83,0,24.31,91.42V420.58H140.14V512l96.53-91.42h77.25L487.69,256V0ZM449.07,237.75l-77.22,73.12H294.61l-67.6,64v-64H140.14V36.58H449.07Z"
                  ></path></svg
              ></a>
            </div>
            <h6 class="mb-4 text-capitalize fw-bold">Subscribe to newsletter</h6>
            <form class="mb-3">
              <div class="mb-2">
                <input
                  type="text"
                  class="form-control border-0 bg-white text-secondary"
                  placeholder="Enter your email address"
                />
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-cta btn-primary">Subscribe</button>
              </div>
            </form>
            <small class="text-muted"> © Copyright 2022. Saasley inc. </small>
          </div>
        </div>
      </div>
    </footer>

    <!--:Theme script:-->
    <!--:Back to Top Button:-->
    <a href="pricing.html#" class="toTop text-white">
      <span class="material-symbols-rounded align-middle"> expand_less </span>
    </a>

    <script src="/assets/js/theme.bundle.js"></script>
  </body>
</html>
