<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Site.Title}} | {{.Title}}</title>

    <!--:AOS Animation:-->
    <link rel="stylesheet" href="/assets/vendor/node_modules/css/aos.css" />
    <!--:Google fonts:-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;1,400&family=Hanken+Grotesk:wght@100..900&family=Libre+Baskerville:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!--:Material symbols sharp icons:-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--:Main style:-->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
  </head>

  <body>
    {{ partial "navigation.html" . }} {{.Content}}

    <section class="position-relative bg-blur overflow-hidden">
      <svg
        class="position-absolute start-0 bottom-0 w-100 fill-body-bg"
        height="96"
        preserveAspectRatio="none"
        viewBox="0 0 1200 145"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 0L50 16.9167C100 33.8333 200 67.6667 300 77.3333C400 87 500 72.5 600 62.8333C700 53.1667 800 48.3333 900 55.5833C1000 62.8333 1100 82.1667 1150 91.8333L1200 101.5V145H1150C1100 145 1000 145 900 145C800 145 700 145 600 145C500 145 400 145 300 145C200 145 100 145 50 145H0V0Z"
          fill="currentColor"
        ></path>
      </svg>
      <div class="container pt-11 pt-lg-15 pb-9">
        <div class="row pb-8 pb-lg-11">
          <div class="col-lg-10 col-xl-8 mx-auto text-center">
            <h1 class="display-4 mb-3">Everything you need for best in class service</h1>
            <p class="lead mb-4"></p>
          </div>
        </div>
      </div>
    </section>
    {{partial "pricing.html"}}
    <section class="position-relative">
      <div class="container py-9 py-lg-11 position-relative">
        <div class="row mb-6 mb-lg-9">
          <div class="col-lg-8 mx-auto text-center col-md-10">
            <h2 class="display-5 fw-bolder" data-aos="fade-up">Frequently asked questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0"
                >What services does your agency offer for newspaper design?</span
              >
            </div>
            <p class="mb-0 pe-lg-4">
              Our agency offers comprehensive newspaper design services, leveraging our QuickPDF
              software to create visually captivating layouts, typography, and graphics.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0"
                >How does QuickPDF software improve the efficiency of newspaper design?</span
              >
            </div>
            <p class="mb-0 pe-lg-4">
              QuickPDF software enhances efficiency through its intuitive drag-and-drop
              functionality, automation features, and streamlined workflows, enabling us to design
              newspapers faster and more effectively.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0"
                >Can you customize newspaper designs to match our branding?</span
              >
            </div>
            <p class="mb-0 pe-lg-4">
              Absolutely! We understand the importance of branding. Our team can customize newspaper
              designs to align with your brand guidelines, incorporating your logo, colors, and
              other visual elements seamlessly.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0"
                >What is the typical turnaround time for newspaper design projects?</span
              >
            </div>
            <p class="mb-0 pe-lg-4">
              Our agency is committed to delivering prompt results. The turnaround time for
              newspaper design projects depends on the complexity and scope, but we strive to
              provide efficient and timely delivery without compromising quality.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0"
                >Do you provide support or assistance during the design process?</span
              >
            </div>
            <p class="mb-0 pe-lg-4">
              Yes, we offer full support throughout the design process. Our experienced team is
              readily available to address your questions, provide guidance, and ensure your vision
              is translated into outstanding newspaper designs.
            </p>
          </div>
          <div class="col-md-4 mb-6" data-aos="fade-up">
            <div class="d-flex mb-3 align-items-start">
              <span class="material-symbols-rounded me-2 align-middle text-primary"
                >contact_support</span
              ><span class="h5 flex-grow-1 mb-0"
                >How can I request a quote for my newspaper design project?</span
              >
            </div>
            <p class="mb-0 pe-lg-4">
              Requesting a quote is easy. Simply reach out to us through our contact page or call
              our provided phone number. We'll gather the necessary project details and promptly
              provide you with a personalized quote for your newspaper design project.
            </p>
          </div>
        </div>
        <div class="text-center pt-5" data-aos="fade-up" data-aos-delay="100">
          <p class="mb-0">
            Didn't get your answer? Feel free to
            <a class="fw-semibold" href="/contact-us">Contact Support</a>
          </p>
        </div>
      </div>
    </section>
    <section class="position-relative bg-style-1">
      <div class="container py-9 py-lg-11">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7 col-xl-6">
            <h2 class="display-5 mb-4" data-aos="fade-up">Have other questions?</h2>
            <p class="lead mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
              Feel free to reach our support team.
            </p>
          </div>
          <div class="col-md-5 col-xl-4 text-md-end" data-aos="fade-up" data-aos-delay="150">
            <a class="btn hover-lift btn-lg btn-primary" href="/contact-us"
              >Contact support<span class="material-symbols-rounded ms-2 fs-5 align-middle"
                >arrow_forward</span
              ></a
            >
          </div>
        </div>
      </div>
    </section>

    <!--:Footer:-->
    {{partial "footer.html" }}

    <!--:Theme script:-->
    <!--:Back to Top Button:-->
    <a href="pricing.html#" class="toTop text-white">
      <span class="material-symbols-rounded align-middle"> expand_less </span>
    </a>

    <script src="/assets/js/theme.bundle.js"></script>
  </body>
</html>
