<div class="pb-9 pb-lg-11 border-bottom">
          <div class="row">
            <div class="col-xl-10 mx-auto">
              <div class="row align-items-center">
                <div
                  class="col-md-6 pe-md-5 pe-lg-7 col-sm-9 mb-6 mb-lg-0"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                <img src="/assets/img/shots/01.gif" class="img-fluid rounded-3" alt="" />
                </div>
                <div class="col-md-6 col-lg-5 mx-auto">
                  <h2
                    class="position-relative ms-md-n3 ms-lg-0 ms-0 me-lg-n5 fs-1 mb-4"
                    data-aos="fade-up"
                  >
                    Deliver on time.
                  </h2>
                  <p class="mb-4" data-aos="fade-up" data-aos-delay="100">
                    We provide your newspaper on time with the help of our own technology
                  </p>
                  <ul class="list-unstyled mb-4 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                    <li class="d-flex mb-3 align-items-start">
                      <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                        >check_circle</span
                      >Promising Quality
                    </li>
                    <li class="d-flex mb-3 align-items-start">
                      <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
                        >check_circle</span
                      >Never be late
                    </li>
                  </ul>
                  <div data-aos="fade-up" data-aos-delay="300">
                    <a class="fw-bold" href="/features"
                      >Learn More About Featues<span
                        class="material-symbols-rounded fs-5 ms-2 align-middle lh-1"
                        >arrow_forward</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-around" data-aos="zoom-in-down">
            <div class="col-md-5 col-xl-4 mt-7 mt-lg-11">
              <div>
                <div
                  class="size-60 d-flex justify-content-center shadow-lg rounded-circle align-items-center mb-4 bg-opacity-25 bg-primary text-primary"
                >
                  <span class="material-symbols-rounded fs-2 align-middle">electric_bolt</span>
                </div>
                <div>
                  <h5 class="mb-3">Lightning-Fast Turnaround</h5>
                  <p class="mb-0 text-muted">
                    We pride ourselves on delivering newspaper designs with unmatched speed, meeting tight deadlines without compromising quality.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-md-5 col-xl-4 mt-7 mt-lg-11"
              data-aos="zoom-in-down"
              data-aos-delay="100"
            >
              <div>
                <div
                  class="size-60 d-flex justify-content-center shadow-lg rounded-circle align-items-center mb-4 bg-opacity-25 bg-warning text-warning"
                >
                  <span class="material-symbols-rounded fs-2 align-middle">brush </span>
                </div>
                <div>
                  <h5 class="mb-3">Exceptional Design Quality</h5>
                  <p class="mb-0 text-muted">
                    Our team of experienced designers ensures that each newspaper design we create is of the highest standard, captivating readers and leaving a lasting impression.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>