<!--::Section with image::-->
<section class="position-relative">
  <div class="container py-9 py-lg-11 position-relative">
    <div class="row align-items-center">
      <div
        class="col-md-6 position-relative ps-md-5 ps-lg-9 col-sm-9 mb-6 mb-md-0 order-md-last mx-md-auto"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row align-items-center">
          <div class="col-10">
            <div class="position-relative pb-7" data-aos="zoom-in-up">
              <img src="/assets/img/img1.jpg" class="img-fluid rounded-3" alt="" />
            </div>
          </div>
        </div>
        <div
          class="position-absolute z-index-1 me-3 width-160 w-md-50 w-lg-35 h-auto end-0 bottom-0 overflow-hidden shadow-lg rounded-3"
          data-aos="zoom-in-down"
          data-aos-delay="100"
        >
          <img src="/assets/img/shots/07.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6 order-md-1 ms-md-auto">
        <h2 class="position-relative mb-4 fs-1" data-aos="fade-right">
          Revolutionizing Efficiency and Quality.
        </h2>
        <p class="lead mb-4" data-aos="fade-right" data-aos-delay="100">
          With our cutting-edge technology, we deliver exceptional designs with unmatched speed.
        </p>
        <ul class="list-unstyled mb-4 mb-lg-5" data-aos="fade-right" data-aos-delay="150">
          <li class="d-flex mb-3 align-items-start">
            <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
              >check_circle</span
            >Lightning-fast design efficiency
          </li>
          <li class="d-flex mb-3 align-items-start">
            <span class="material-symbols-rounded align-middle text-warning fs-4 me-3"
              >check_circle</span
            >Impeccable and captivating newspaper layouts.
          </li>
        </ul>
        <div data-aos="fade-right" data-aos-delay="200">
          <a class="fw-bold" href="/features"
            >Learn More About Features<span
              class="material-symbols-rounded fs-5 ms-2 align-middle lh-1"
              >arrow_forward</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--::/End Section with image/::-->
