<nav class="navbar navbar-expand-lg navbar-transparent navbar-sticky navbar-light">
      <div class="container-fluid position-relative">
        <a class="navbar-brand" href="/index.html">
          <div class="logo-light">
            <img src="/assets/img/logo.svg" class="img-fluid" alt="" />
          </div>
          <div class="logo-dark">
            <img src="/assets/img/logo-white.svg" class="img-fluid" alt="" />
          </div> </a
        ><button
          class="navbar-toggler border-0 p-0"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarDefault"
          aria-controls="offcanvasNavbarDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="material-symbols-rounded align-middle">menu</span>
        </button>
        <div
          class="offcanvas offcanvas-start"
          data-bs-scroll="true"
          id="offcanvasNavbarDefault"
          tabindex="-1"
          aria-labelledby="offcanvasNavbarDefaultLabel"
        >
          <div class="offcanvas-header justify-content-end">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="me-auto navbar-nav ms-xl-4">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-arrow" href="index.html#" data-bs-toggle="dropdown"
                  >Landings<span
                    class="material-symbols-rounded align-middle lh-1 dropdown-arrow-icon"
                    >expand_more</span
                  ></a
                >
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="index.html">Default</a
                  ><a class="dropdown-item" href="index-signup.html">SignUp</a
                  ><a class="dropdown-item" href="index-decorative.html">Decorative</a>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a class="nav-link dropdown-arrow" href="index.html#" data-bs-toggle="dropdown"
                  >Features<span
                    class="material-symbols-rounded align-middle lh-1 dropdown-arrow-icon"
                    >expand_more</span
                  ></a
                >
                <div class="dropdown-menu dropdown-menu-full">
                  <div class="row">
                    <div class="col-lg-3 me-lg-auto">
                      <h6 class="dropdown-header">Overview</h6>
                      <a class="dropdown-item py-3 mb-3" href="features.html">
                        <div class="d-flex align-items-center">
                          <div
                            class="flex-shrink-0 shadow-sm size-40 d-flex align-items-center justify-content-center me-3 rounded-circle bg-white"
                          >
                            <span
                              class="material-symbols-rounded align-middle fs-4 lh-1 text-secondary"
                              >fact_check</span
                            >
                          </div>
                          <div class="flex-grow-1">
                            <h6 class="mb-1">Overview</h6>
                            <small class="opacity-75 lh-sm">Full list of features</small>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-8 ps-lg-8 border-start-lg">
                      <h6 class="dropdown-header">Components</h6>
                      <div class="row">
                        <div class="col-lg-4 mb-4 mb-lg-0">
                          <a class="dropdown-item" href="feature-animations.html">Animations</a
                          ><a class="dropdown-item" href="feature-buttons.html">Buttons</a
                          ><a class="dropdown-item" href="feature-call-to-actions.html"
                            >Call to actions</a
                          ><a class="dropdown-item" href="feature-collapse.html">Collapse</a>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                          <a class="dropdown-item" href="feature-clients.html">Clients</a
                          ><a class="dropdown-item" href="feature-forms.html">Forms</a
                          ><a class="dropdown-item" href="feature-feature-images.html"
                            >Feature Images</a
                          ><a class="dropdown-item" href="feature-icons.html">Icon Cards</a>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                          <a class="dropdown-item" href="feature-pricing-tables.html"
                            >Pricing tables</a
                          ><a class="dropdown-item" href="feature-swiper-slider.html"
                            >Swiper Slider</a
                          ><a class="dropdown-item" href="feature-testimonials.html">Testimonials</a
                          ><a class="dropdown-item" href="feature-tabbed-content.html"
                            >Tabbed-content</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
              <li class="nav-item">
                <a class="nav-link" href="integrations.html">integrations</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
            </ul>
            <ul class="navbar-nav ms-xl-auto">
              <li class="nav-item dropdown mb-3 mb-lg-0">
                <a class="nav-link dropdown-arrow" href="index.html#" data-bs-toggle="dropdown"
                  >Pages<span class="material-symbols-rounded align-middle lh-1 dropdown-arrow-icon"
                    >expand_more</span
                  ></a
                >
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="customers.html">Customers</a
                  ><a class="dropdown-item" href="typography.html">Typography</a
                  ><a class="dropdown-item" href="404.html">Custom 404</a
                  ><a class="dropdown-item" href="demo-request.html">Demo request</a
                  ><a class="dropdown-item" href="signin.html">Sign In</a
                  ><a class="dropdown-item" href="signup.html">Sign Up</a
                  ><a class="dropdown-item" href="forgot-password.html">Forget password</a>
                </div>
              </li>
              <li class="nav-item mb-3 mb-lg-0">
                <a class="btn btn-warning btn-sm hover-lift" href="demo-request.html"
                  >Request Demo<span
                    class="align-middle material-symbols-rounded fs-5 ms-1 d-none d-xl-inline-block"
                    >arrow_forward</span
                  ></a
                >
              </li>
              <li class="nav-item"><a class="nav-link" href="signin.html">Sign In</a></li>
              <li
                class="mt-4 mt-lg-0 nav-item d-flex align-items-center justify-content-lg-center flex-lg-column h-100 ms-0 ms-xl-3"
              >
                <label
                  class="dark-mode-checkbox d-flex align-items-center justify-content-center rounded-circle nav-link p-0"
                  for="ChangeTheme"
                  ><input type="checkbox" class="appearance-none" id="ChangeTheme" /><span
                    class="dark-mode-icons size-30 d-inline-flex align-items-center justify-content-center me-2 me-lg-0"
                    ><span class="material-symbols-rounded align-middle">dark_mode</span
                    ><span class="material-symbols-rounded align-middle">light_mode</span></span
                  ><span class="ms-1 d-lg-none">Dark Mode</span></label
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>