<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saasley | 404</title>

    <!--:AOS Animation:-->
    <link rel="stylesheet" href="/assets/vendor/node_modules/css/aos.css" />
    <!--:Google fonts:-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;1,400&family=Hanken+Grotesk:wght@100..900&family=Libre+Baskerville:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!--:Material symbols sharp icons:-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--:Main style:-->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
  </head>

  <body>
    {{partial "navigation.html"}}

    <section class="position-relative">
      <div class="container pt-12 pb-9 pt-lg-15 pb-lg-12 text-center">
        <span class="material-symbols-rounded text-warning fs-1 align-middle d-block mb-4 fw-normal"
          >pest_control</span
        >
        <h1 class="mb-4 display-2">404</h1>
        <h4 class="mb-0">The page you're looking for is not found!</h4>
      </div>
    </section>

    <!--:Footer:-->
    {{partial "footer.html" }}

    <!--:Theme script:-->
    <!--:Back to Top Button:-->
    <a href="404.html#" class="toTop text-white">
      <span class="material-symbols-rounded align-middle"> expand_less </span>
    </a>

    <script src="/assets/js/theme.bundle.js"></script>
  </body>
</html>
