<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Site.Title}} | {{.Title}}</title>

    <!--:Page styles:-->
    <link rel="stylesheet" href="/assets/vendor/node_modules/css/glightbox.min.css" />
    <!--:AOS Animation:-->
    <link rel="stylesheet" href="assets/vendor/node_modules/css/aos.css" />
    <!--:Google fonts:-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;1,400&family=Hanken+Grotesk:wght@100..900&family=Libre+Baskerville:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!--:Material symbols sharp icons:-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--:Main style:-->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
  </head>

  <body>
    {{ partial "navigation.html" . }}

    <!--::Hero Default::-->
    <section class="pt-12 pt-lg-15 pb-7 bg-blur position-relative overflow-hidden">
      <div class="container position-relative">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-10 text-center text-lg-start ms-lg-0 me-lg-auto mx-md-auto">
            <h1 class="mb-4 display-3 position-relative z-index-2">
             Revolutionizing Newspaper Design
            </h1>
            <p class="mb-5 w-lg-75 lead">
              QuickPDF helps you to get your newspaper PDF done in fastest way
            </p>
            <div class="d-flex justify-content-lg-start justify-content-center mb-3">
              <a
                class="btn hover-lift mb-2 btn-gradient-primary btn-lg d-flex align-items-center"
                href="/contact-us"
                >Start 3 days free trail<span class="material-symbols-rounded align-middle ms-2"
                  >arrow_forward</span
                ></a
              >
            </div>
            <div
              class="mb-5 d-flex align-items-center justify-content-lg-start justify-content-center"
            >
              <div>
                <a
                  href="https://www.youtube.com/watch?v=Ga6RYejo6Hk"
                  class="glightbox size-60 hover-lift btn btn-warning p-0 rounded-circle d-flex align-items-center justify-content-center"
                  data-gallery="videoGallery"
                  ><span class="fs-2 align-middle material-symbols-rounded">play_arrow</span></a
                >
              </div>
              <small class="d-none d-sm-block ms-sm-2">See QuickPDF in action</small>
            </div>
          </div>
          <div class="col-lg-6 col-md-10 mx-auto mx-lg-0 position-relative">
            <div class="position-relative w-100 p-3 p-lg-5">
              <div class="position-relative w-100 h-auto">
                <img src="/assets/img/img1.jpg" class="img-fluid rounded-5" alt="" />
              </div>
              <div
                class="bg-white rotate-4 shadow-lg position-absolute end-0 top-0 width-240 h-auto text-dark rounded-4 p-3"
              >
                <div>
                  <div class="d-flex align-items-center">
                    <span
                      class="flex-shrink-0 width-40 height-40 justify-content-center align-items-center d-flex rounded-circle bg-opacity-25 bg-warning text-warning"
                      ><span class="material-symbols-rounded align-middle fs-3"
                        >workspaces</span
                      ></span
                    >
                    <div class="flex-grow-1 ps-3">
                      <h6 class="mb-0 text-reset">Easy collaboration with remote teams</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="bg-white rotate-n4 shadow-lg position-absolute start-0 bottom-0 width-200 h-auto text-dark rounded-4 p-3"
              >
                <div>
                  <div class="d-flex align-items-center">
                    <span
                      class="flex-shrink-0 width-40 height-40 justify-content-center align-items-center d-flex rounded-circle bg-opacity-25 bg-primary text-primary"
                      ><span class="material-symbols-rounded align-middle fs-3">task</span></span
                    >
                    <div class="flex-grow-1 ps-3">
                      <h6 class="mb-0 text-reset">Manage your newspaper</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::/End hero default/::-->

    <!--::Features::-->
    <section class="position-relative">
      <div class="container py-9 py-lg-11">
        <div class="row">
          <div class="col-md-4 mb-6 mb-md-0" data-aos="fade-up">
            <div class="text-center">
              <div class="mb-4 text-primary">
                <span class="material-symbols-rounded align-middle fs-1">bolt</span>
              </div>
              <h5 class="mb-3">Speedy Designs</h5>
              <p class="mb-0 px-xl-5">
                Our company's main feature is the ability to deliver newspaper designs faster and more efficiently than traditional methods.
              </p>
            </div>
          </div>
          <div class="col-md-4 mb-6 mb-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="text-center">
              <div class="mb-4 text-success">
                <span class="material-symbols-rounded align-middle fs-1">smart_toy</span>
              </div>
              <h5 class="mb-3">Automated Layouts</h5>
              <p class="mb-0 px-xl-5">
                Our software automates layout creation, saving time and ensuring consistent and visually appealing designs.
              </p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="text-center">
              <div class="mb-4 text-warning">
                <span class="material-symbols-rounded align-middle fs-1">workspaces</span>
              </div>
              <h5 class="mb-3">Collaboration Tools</h5>
              <p class="mb-0 px-xl-5">
                Easy collaboration with team members and clients, facilitating seamless communication and efficient project management.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::/End Features/::-->

    <!--::Section with image + Feature Icons::-->
    <section class="position-relative border-top">
      <div class="container pt-9 pt-lg-11">
        <div class="row align-items-center">
          <div class="col-lg-8 mx-auto text-center mb-7">
            <h2 class="display-5 mb-0" data-aos="fade-up">
              Why choose QuickPDF to desgin your paper?
            </h2>
            <div
              class="bg-primary width-80 my-7 mx-auto pt-1 rounded-pill"
              data-aos="fade-up"
              data-aos-delay="100"
            ></div>
          </div>
        </div>
        {{partial "feature1.html"}}
    </section>
    <!--::/End Section with image + Feature Icons/::-->

    {{partial "feature2.html"}}

    <!--::User Feedback::-->
    <section>
      <div class="container">
        <div class="bg-primary rounded-4 shadow-lg text-white py-7 px-4">
          <div class="row">
            <div class="col-md-10 col-lg-9 mx-auto text-center">
              <div class="width-160 mx-auto h-auto mb-4">
                <img src="/assets/img/partners/airbnb-white.svg" class="img-fluid" alt="" />
              </div>
              <h3 class="fw-normal flex-grow-1 lh-base mb-4 mb-lg-5">
                “Working with QuickPDF has been a game-changer for our newspaper design needs. Their software and expertise have significantly improved our efficiency and the quality of our designs. Highly recommended!”
              </h3>
              <div class="d-flex justify-content-center mt-auto align-items-center">
                <div class="flex-shrink-0 width-60 shadow rounded-circle">
                  <img src="/assets/img/avatars/male/1.jpg" class="img-fluid rounded-pill" alt="" />
                </div>
                <div class="ps-3 text-start">
                  <h5 class="mb-1">John Doe</h5>
                  <small class="text-white text-opacity-75">Marketing manager</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::/End User feedback/::-->

    <!--::More Benefits::-->
    <section class="position-relative overflow-hidden bg-dark text-white mt-8">
      <svg
        class="position-absolute start-0 bottom-0 w-100 fill-body-bg"
        height="48"
        preserveAspectRatio="none"
        viewBox="0 0 1200 145"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 0L50 16.9167C100 33.8333 200 67.6667 300 77.3333C400 87 500 72.5 600 62.8333C700 53.1667 800 48.3333 900 55.5833C1000 62.8333 1100 82.1667 1150 91.8333L1200 101.5V145H1150C1100 145 1000 145 900 145C800 145 700 145 600 145C500 145 400 145 300 145C200 145 100 145 50 145H0V0Z"
        ></path>
      </svg>
      <div class="container py-9 py-lg-11 position-relative z-index-1">
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto text-center">
            <h5 class="mb-4 text-warning">More benefits</h5>
            <h2 class="display-5 mb-4 mb-lg-5">Work with us!</h2>
          </div>
        </div>
        <div class="row pb-6">
          <div class="col-md-6 mt-4">
            <div class="bg-white bg-opacity-10 rounded-4 p-4" data-aos="fade-up">
              <div>
                <div class="d-flex align-items-start">
                  <span class="border-info text-info"
                    ><span class="material-symbols-rounded align-middle fs-1">insights</span></span
                  >
                  <div class="flex-grow-1 ps-4">
                    <h5 class="mb-0">Expertise & Innovation</h5>
                    <p class="mb-0 mt-2 opacity-75">
                      Benefit from our innovative approach to take client's newspaper designs to the next level.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="bg-white bg-opacity-10 rounded-4 p-4" data-aos="fade-up">
              <div>
                <div class="d-flex align-items-start">
                  <span class="border-warning text-warning"
                    ><span class="material-symbols-rounded align-middle fs-1"
                      >bolt</span
                    ></span
                  >
                  <div class="flex-grow-1 ps-4">
                    <h5 class="mb-0">Lightning-Fast Turnaround</h5>
                    <p class="mb-0 mt-2 opacity-75">
                      Enjoy quick project completion, ensuring client's newspapers are delivered on time, every time.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="bg-white bg-opacity-10 rounded-4 p-4" data-aos="fade-up">
              <div>
                <div class="d-flex align-items-start">
                  <span class="border-primary text-primary"
                    ><span class="material-symbols-rounded align-middle fs-1">draw</span></span
                  >
                  <div class="flex-grow-1 ps-4">
                    <h5 class="mb-0">Customized Solutions</h5>
                    <p class="mb-0 mt-2 opacity-75">
                      Get personalized designs that perfectly match client's brand, capturing the unique essence of client's publication.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="bg-white bg-opacity-10 rounded-4 p-4" data-aos="fade-up">
              <div>
                <div class="d-flex align-items-start">
                  <span class="border-success text-success"
                    ><span class="material-symbols-rounded align-middle fs-1"
                      >groups_3</span
                    ></span
                  >
                  <div class="flex-grow-1 ps-4">
                    <h5 class="mb-0">Streamlined Collaboration</h5>
                    <p class="mb-0 mt-2 opacity-75">
                      Experience seamless teamwork and open communication to bring your vision to life effortlessly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="bg-white bg-opacity-10 rounded-4 p-4" data-aos="fade-up">
              <div>
                <div class="d-flex align-items-start">
                  <span class="border-danger text-danger"
                    ><span class="material-symbols-rounded align-middle fs-1"
                      >verified</span
                    ></span
                  >
                  <div class="flex-grow-1 ps-4">
                    <h5 class="mb-0">Exceptional Quality</h5>
                    <p class="mb-0 mt-2 opacity-75">
                      Receive top-notch designs crafted with precision and attention to detail, captivating newspapers readers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="bg-white bg-opacity-10 rounded-4 p-4" data-aos="fade-up">
              <div>
                <div class="d-flex align-items-start">
                  <span class="border-light text-light"
                    ><span class="material-symbols-rounded align-middle fs-1"
                      >contact_support</span
                    ></span
                  >
                  <div class="flex-grow-1 ps-4">
                    <h5 class="mb-0">Reliable Support</h5>
                    <p class="mb-0 mt-2 opacity-75">
                     Count on our dedicated team for prompt support and assistance throughout the design process.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::/End More Benefits/::-->

    <!--::Pricing::-->
    <section class="position-relative overflow-hidden">
      <div class="position-absolute start-0 bottom-0 w-100 h-50 bg-style-1"></div>
      <div class="container py-9 py-lg-11 position-relative">
        <div class="row mb-5 mb-lg-7">
          <div class="col-lg-8 mx-auto text-center">
            <h5 class="mb-4">Pay as you go</h5>
            <h2 class="display-5 mb-0">Simple pricing plan for you</h2>
          </div>
        </div>
        <div class="row mb-7">
          <div class="mt-14">
          {{partial "pricing.html"}}
        </div>
        </div>
        <div class="text-center">
          <a href="/pricing"
            >Learn More about Pricing
            <span class="material-symbols-rounded align-middle ms-1">arrow_forward</span></a
          >
        </div>
      </div>
    </section>
    <!--::/End pricing/::-->

    <!--::Integrations::-->
    <section class="position-relative">
      <div class="container py-9 py-lg-11">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h5 class="mb-4">Clients</h5>
            <h1 class="w-lg-75 mx-auto display-5 mb-5">We are working with many agencies</h1>
            <div class="row mb-5 justify-content-center">
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/slack.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/trello.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/mailchimp.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/dropbox.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/zoom.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/evernote.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
              <div class="col-4 col-sm-auto mb-4">
                <a
                  href="index.html#"
                  class="d-block py-4 px-4 bg-style-1 hover-lift rounded-4 card border-0"
                >
                  <div class="width-40 mx-auto h-auto">
                    <img src="/assets/img/integrations/gmail.svg" class="img-fluid" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="text-center">
              <a href="#">50+ Newspapers</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::/End integrations/::-->

    <!--::Call to Action::-->
    <section class="position-relative">
      <div class="bg-dark w-100 h-50 bottom-0 start-0 position-absolute"></div>
      <div class="container position-relative">
        <div
          class="px-4 py-7 py-lg-9 rounded-4 position-relative z-index-1 overflow-hidden text-white bg-secondary"
        >
          <div class="row position-relative">
            <div class="col-lg-9 col-md-10 mx-auto text-center">
              <h5 class="mb-4" data-aos="fade-up">Join quickPDF Today</h5>
              <h2 class="display-4 mb-5" data-aos="fade-up" data-aos-delay="100">
                A complete solution for your newspaper's needs
              </h2>
              <div class="d-flex flex-wrap justify-content-center">
                <div data-aos="fade-up" data-aos-delay="150">
                  <a class="btn btn-white btn-lg hover-lift me-3" href="/contact-us"
                    >Request Demo
                    <span class="material-symbols-rounded fs-5 ms-2 align-middle lh-1"
                      >arrow_forward</span
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/::End Call to Action::/-->

    <!--:Footer:-->
    {{partial "footer.html" }}

    <!--:Theme script:-->
    <!--:Back to Top Button:-->
    <a href="index.html#" class="toTop text-white">
      <span class="material-symbols-rounded align-middle"> expand_less </span>
    </a>

    <script src="/assets/js/theme.bundle.js"></script>
  </body>
</html>
